In [1]:
import pyodbc

In [38]:
sql_connection = pyodbc.connect(
    'Driver={SQL Server};'
    'Server=ERIK-OFFICE\SQLEXPRESS;'
    'Database=Tutorial;'
    'Trusted_Connetion=yes;'
)

In [39]:
sql_cursor = sql_connection.cursor()

In [40]:
location = '.archive'

In [41]:
sql_cursor.execute('''
    CREATE TABLE spectra (
        id INT PRIMARY KEY,
        source VARCHAR(50),
        location VARCHAR(50),
        filename VARCHAR(50)
    )
''')

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'spectra' in the database. (2714) (SQLExecDirectW)")

In [42]:
sql_cursor.execute(
    'INSERT INTO spectra (id, source, location, filename) VALUES (?, ?, ?, ?)',
    (0,'Deguchi',location,'s001.asc')
)

IntegrityError: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__spectra__3213E83F63A8B8A0'. Cannot insert duplicate key in object 'dbo.spectra'. The duplicate key value is (0). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

In [29]:
sql_connection.commit()
sql_cursor.close()

In [43]:
sql_cursor.execute(
    'SELECT * FROM spectra'
)

In [44]:
row = sql_cursor.fetchone()
row

(0, 'Deguchi', '.archive', 's001.asc')

In [45]:
sql_connection.close()